**/*__pycache__/*
*.env
env_vars*
credentials*
**/build/*

# Python environments
*/env/
env/
.env

#Data paths
/data/
/splitData/

#Credentials
.kaggle/
**/kaggle.json
**/credentials.json
**/driveID.txt

#Data
/data
/splitData

#Model files
*.keras
